{% extends "base.html" %}


{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <!--<th scope="col" class="text-center">비디오 1</th>-->
      <!--<th scope="col" class="text-center">비디오 2</th>-->
      <!--<th scope="col" class="text-center">비디오 3</th>-->
      <th colspan="2" scope="col" class="text-center">
          총 비디오 {{all_count}}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}

        <tr>
          <td>{{ object.title }}</td>
          <td>{{ object.timestamp }}</td>
        </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}}

